.pie-container{
    margin-top: 40px;
}

.pie-heading{
    font-size: 24px;
    color: #535925;
    font-weight: bold;
}

.all-piecharts{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 3px dashed #313131;
    padding: 30px 0;
    color: #464646;
}

.pie-title{
    text-align: center;
}